<h1>Welcome to the DVR App</h1>

<form method="POST" action="/session">
  <%= render :erb, :_login %>
  <input type="submit" value="Login" />
</form>

<% if flash[:error] %>
  <p style="color:red;"><%= flash[:error] %></p>
<% end %>
